<html lang="en" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="header" class="main-header navbar navbar-expand navbar-dark navbar-indigo">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/" th:href="@{/}" class="nav-link"><i class="fa fa-home fa-lg"></i></a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" id="from_gSearchInputTag">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" id="gSearchInputTag" type="search" th:value="#{search}" placeholder="Search" aria-label="Search" >
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Language Dropdown -->
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i th:class="__${#locale}__=='en'?'fa fa-language':'fa cnm-fr' "></i>

            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="languageDropdown">
                <th:block th:each="l : ${session.languages}">
                    <a class="dropdown-item" th:href="${'?lang=' + l.langCode}">
                      <!--  <i th:class="${l.langCode} == 'en' ? 'fa cnm-en' : 'fa cnm-fr'"></i>-->
                        <i th:class="${l.langCode} == 'en' ? 'fa fa-language' : 'fa cnm-fr'"></i>
                        <span th:text="#{locale_ + ${l.langCode}}"></span>
                    </a>
                </th:block>
            </div>
        </li>

        <!-- Logout and Settings Links -->
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" th:href="@{/logout}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i>
                Logout
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                <i class="fas fa-cog"></i>
            </a>
        </li>
    </ul>
</nav>

</html>
